form {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 90%;
  margin: 0 auto;
  background-color: var(--shark);
  border: 1px solid #444444;
  box-sizing: border-box;
  padding: 18px 15px 10px 15px;
  border-radius: 10px;
}

form input, form button {
  padding: 5px;
}

form input {
  color: var(--white);
  font-size: 1.6rem;
  margin: 4px 0;
  border-radius: 5px;
  background-color: var(--bunker);
  border: none;
}

form input::placeholder {
  color: #dddddd;
}

form input:focus-visible {
  outline: none;
}

form button {
  background-color: var(--golden-yellow);
  font-size: 1.8rem;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
}
